{% extends 'queries/querytemplate.html' %}

{% block title %}<h3>9 Получить сведения о поставках определенного товара указанным поставщиком за все время
поставок, либо за некоторый период.
    </h3>{% endblock %}

{% block content %}
    {% if warning %}
    <h3> {{ warning }} </h3>
    {% endif %}
    <form class="form" action="{% url 'query9' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="margin-bottom: 1%">Поиск</button>
    </form>

    <table class="table-bordered" style="text-align: center">
    {% if data %}
        <td style="padding: 0 6px 0 6px">Order date</td>
        <td style="padding: 0 6px 0 6px">Product price</td>
        <td style="padding: 0 6px 0 6px">Product amount</td>
    {% endif %}

    {% for i in data %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.price }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.amount }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}