{% extends 'queries/querytemplate.html' %}

{% block title %}<h3>6 Получить данные о выработке отдельно взятого продавца отдельно взятой торговой точки
за указанный период.
    </h3>{% endblock %}

{% block content %}
    <form class="form" action="{% url 'query6' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="margin-bottom: 1%">Поиск</button>
    </form>

    <table class="table-bordered" style="text-align: center">
    {% if data %}
        <td style="padding: 0 6px 0 6px">Employee</td>
        <td style="padding: 0 6px 0 6px">Profit</td>
    {% endif %}

    {% for i in data %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.profit }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}