{% extends 'queries/querytemplate.html' %}

{% block title %}<h3>15 Получить данные о товарообороте торговой точки, либо всех торговых определенной группы.
все торговые точки и все товары
группа точек - тип точки
    </h3>{% endblock %}

{% block content %}
    {% if warning %}
    <h3> {{ warning }} </h3>
    {% endif %}
    <form class="form" action="{% url 'query15' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="margin-bottom: 1%">Поиск</button>
    </form>

    <table class="table-bordered" style="text-align: center">
    {% if data %}
        <td style="padding: 0 6px 0 6px">Employee</td>
        <td style="padding: 0 6px 0 6px">Trade point</td>
        <td style="padding: 0 6px 0 6px">Salary</td>
    {% endif %}

    {% for i in data %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.employee_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.point_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.employee_salary }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}