{% extends 'queries/querytemplate.html' %}

{% block title %}<h3>14 Получить сведения о наиболее активных покупателях по всем торговым точкам, по
торговым точкам указанного типа, по данной торговой точке.
    </h3>{% endblock %}

{% block content %}
    {% if warning %}
    <h3> {{ warning }} </h3>
    {% endif %}
    <form class="form" action="{% url 'query14' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="margin-bottom: 1%">Поиск</button>
    </form>

    <table class="table-bordered" style="text-align: center">
    {% if data %}
        <td style="padding: 0 6px 0 6px">Customer</td>
        <td style="padding: 0 6px 0 6px">Spent</td>
    {% endif %}

    {% for i in data %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.customer_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.spent }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}